*{
    --raisin-black: #1a1423ff;
    --dark-purple: #372549ff;
    --eggplant: #774c60ff;
    --redwood: #b75d69ff;
    --pale-dogwood: #eacdc2ff;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--pale-dogwood)
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.custom-nav {
    background-color: var(--raisin-black);
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand {
    color: var(--pale-dogwood) !important;
    font-weight: bold;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: var(--redwood) !important;
}

.nav-link {
    color: var(--pale-dogwood) !important;
    margin: 0 0.5rem;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--redwood) !important;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--redwood);
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.navbar-toggler {
    border-color: var(--pale-dogwood);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(234, 205, 194, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}